h1 {
    color: rgb(84, 116, 116);
    font-size: large;
    font-family: 'Montserrat';
    font-style: bold;
    border: 2px solid rgb(84, 116, 116);
    border-radius: 8px;
    padding: 4px;
  }

div#head {
    grid-area: head;
    color :rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Montserrat';
    font-style :bold;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(84, 116, 116);
    padding: 5px;
}

div.sec {
    font-family:'Montserrat';
    font-size: small;
    margin:5px;
    flex: 1 1 auto
}

div.sec:hover > h1 {
    background-color: rgb(84, 116, 116);
    color : white;
    font-style : bold;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-decoration: none;
    color: black;
    padding:5px
}

a:hover {
    color: white;
}

h1:hover {
    background-color: rgb(84, 116, 116);
    color : white;
    font-style : bold;
}

body {
    background-color: #EDE4E0;
}

h2 {
    size : smaller;
}


span.link:hover {
    background-color: black;
    border-radius: 5px;
    color : white;
}

img {
    border-radius: 10px;
    padding: 5px;
}

#pres {
    font-family:'Montserrat';
    font-size: large;
}

.container {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.headercv {
    position: sticky;
    top: 7px;
    display: grid;
    grid-template-columns:
    1fr ;
    grid-template-areas:
    "head"
    "desc"
    "links";
    background-color: #EDE4E0;
}

#links {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#desc {
    grid-area: desc;
    display: flex;
}

#phy {
    color:rgb(0, 11, 82)
}
#maths {
    color:rgb(179, 0, 15)
}
#comp {
    color:rgb(92, 92, 92)
}

.poem {
    background-color: aliceblue;
    font-style: italic;
    padding : 7px;
    border-width:3px;
    border-style:inset;
}